* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    background-image: url(images/raindrops.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.transparent {
    background-color: rgba(146, 241, 209, 0.53);
    position: absolute;
    width: 100%;
    height: 100%;
}

.page {
    background-color: rgba(255, 255, 255, 0.535);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}