* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 195, 174);
    background: radial-gradient(circle, rgba(238, 195, 174, 0.9500175070028011) 48%, rgba(228, 179, 109, 0.9444152661064426) 97%);
}

.centered {
    margin: auto;
    width: 75%;
}

/* nav bar */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style: none;
    
}

a:link {
    text-decoration: none;
    font-size: 20px;
}

.logo {
    font-weight: 800;
    
}
