* {
    border: 2px solid black;
}

body {
    background: rgb(238, 195, 174);
    background: radial-gradient(circle, rgba(238, 195, 174, 0.9500175070028011) 48%, rgba(228, 179, 109, 0.9444152661064426) 97%);
}

